/* noto-sans-kr-300 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/noto-sans-kr-v12-korean_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
       url('./fonts/noto-sans-kr-v12-korean_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/noto-sans-kr-v12-korean_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/noto-sans-kr-v12-korean_latin-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-kr-v12-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('./fonts/noto-sans-kr-v12-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/noto-sans-kr-v12-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/noto-sans-kr-v12-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/noto-sans-kr-v12-korean_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
       url('./fonts/noto-sans-kr-v12-korean_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/noto-sans-kr-v12-korean_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/noto-sans-kr-v12-korean_latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/noto-sans-kr-v12-korean_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('./fonts/noto-sans-kr-v12-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/noto-sans-kr-v12-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/noto-sans-kr-v12-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/noto-sans-kr-v12-korean_latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
       url('./fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('./fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}



/*폰트 세팅*/
body{
	font-family:'Noto Sans KR',sans-serif;
}

.eng{
	font-family:'Roboto',sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}
.relative{position:relative;}

/*폰트 컬러*/
.fcBlue {color:#00aeef !important;}
.fcBlue02 {color:#7fb2d3 !important;}
.fcRed {color:#f04a36 !important;}
.fcRed02{color:#db4b4b !important;}
.fcOrange {color:#ef5025 !important;}
.fcBlack {color:#000 !important;}
.fcWhite {color:#fff !important;}
.fcGrayA {color:#aaa !important;}
.fcGray9 {color:#999 !important;}
.fcGray8 {color:#888 !important;}
.fcGray7 {color:#777 !important;}
.fcGray6 {color:#666 !important;}
.fcGray5 {color:#555 !important;}
.fcGray4 {color:#444 !important;}
.fcGray3 {color:#333 !important;}
.fcGray2 {color:#222 !important;}

/*폰트 굵기*/
.fwBold{font-weight:bold !important;}
.fwNormal{font-weight:normal !important;}
.fw100{font-weight:100 !important;}
.fw300{font-weight:300 !important;}
.fw400{font-weight:400 !important;}
.fw500{font-weight:500 !important;}
.fw600{font-weight:600 !important;}
.fw700{font-weight:700 !important;}
.fw800{font-weight:800 !important;}
.fw900{font-weight:900 !important;}


/*기본 폰트 사이즈 반응 설정*/

.fs10{font-size:10px !important;}
.fs11{font-size:11px !important;}
.fs12{font-size:12px !important;}
.fs13{font-size:13px !important;}
.fs14{font-size:14px !important;}
.fs15{font-size:15px !important;}
.fs16{font-size:16px !important;}
.fs17{font-size:17px !important;}
.fs18{font-size:18px !important;}
.fs19{font-size:19px !important;}
.fs20{font-size:20px !important;}
.fs22{font-size:22px !important;}
.fs24{font-size:24px !important;}
.fs26{font-size:26px !important;}
.fs28{font-size:28px !important;}
.fs30{font-size:30px !important;}
.fs32{font-size:32px !important;}
.fs34{font-size:34px !important;}
.fs36{font-size:36px !important;}
.fs38{font-size:38px !important;}
.fs40{font-size:40px !important;}
.fs42{font-size:42px !important;}
.fs44{font-size:44px !important;}
.fs46{font-size:46px !important;}
.fs48{font-size:48px !important;}
.fs50{font-size:50px !important;}
.fs52{font-size:52px !important;}
.fs54{font-size:54px !important;}
.fs56{font-size:56px !important;}
.fs58{font-size:58px !important;}
.fs60{font-size:60px !important;}
.fs62{font-size:62px !important;}


@media(max-width:1200px) {
	.fs10-md{font-size:10px !important;}
	.fs11-md{font-size:11px !important;}
	.fs12-md{font-size:12px !important;}
	.fs13-md{font-size:13px !important;}
	.fs14-md{font-size:14px !important;}
	.fs15-md{font-size:15px !important;}
	.fs16-md{font-size:16px !important;}
	.fs17-md{font-size:17px !important;}
	.fs18-md{font-size:18px !important;}
	.fs19-md{font-size:19px !important;}
	.fs20-md{font-size:20px !important;}
	.fs22-md{font-size:22px !important;}
	.fs24-md{font-size:24px !important;}
	.fs26-md{font-size:26px !important;}
	.fs28-md{font-size:28px !important;}
	.fs30-md{font-size:30px !important;}
	.fs32-md{font-size:32px !important;}
	.fs34-md{font-size:34px !important;}
	.fs36-md{font-size:36px !important;}
	.fs38-md{font-size:38px !important;}
	.fs40-md{font-size:40px !important;}
	.fs42-md{font-size:42px !important;}
	.fs44-md{font-size:44px !important;}
	.fs46-md{font-size:46px !important;}
	.fs48-md{font-size:48px !important;}
	.fs50-md{font-size:50px !important;}
	.fs52-md{font-size:52px !important;}
	.fs54-md{font-size:54px !important;}
	.fs56-md{font-size:56px !important;}
	.fs58-md{font-size:58px !important;}
	.fs60-md{font-size:60px !important;}
	.fs62-md{font-size:62px !important;}
}
@media(max-width:992px) {
	.fs10-sm{font-size:10px !important;}
	.fs11-sm{font-size:11px !important;}
	.fs12-sm{font-size:12px !important;}
	.fs13-sm{font-size:13px !important;}
	.fs14-sm{font-size:14px !important;}
	.fs15-sm{font-size:15px !important;}
	.fs16-sm{font-size:16px !important;}
	.fs17-sm{font-size:17px !important;}
	.fs18-sm{font-size:18px !important;}
	.fs19-sm{font-size:19px !important;}
	.fs20-sm{font-size:20px !important;}
	.fs22-sm{font-size:22px !important;}
	.fs24-sm{font-size:24px !important;}
	.fs26-sm{font-size:26px !important;}
	.fs28-sm{font-size:28px !important;}
	.fs30-sm{font-size:30px !important;}
	.fs32-sm{font-size:32px !important;}
	.fs34-sm{font-size:34px !important;}
	.fs36-sm{font-size:36px !important;}
	.fs38-sm{font-size:38px !important;}
	.fs40-sm{font-size:40px !important;}
	.fs42-sm{font-size:42px !important;}
	.fs44-sm{font-size:44px !important;}
	.fs46-sm{font-size:46px !important;}
	.fs48-sm{font-size:48px !important;}
	.fs50-sm{font-size:50px !important;}
	.fs52-sm{font-size:52px !important;}
	.fs54-sm{font-size:54px !important;}
	.fs56-sm{font-size:56px !important;}
	.fs58-sm{font-size:58px !important;}
	.fs60-sm{font-size:60px !important;}
	.fs62-sm{font-size:62px !important;}
}
@media(max-width:767px) {
	.fs10-xs{font-size:10px !important;}
	.fs11-xs{font-size:11px !important;}
	.fs12-xs{font-size:12px !important;}
	.fs13-xs{font-size:13px !important;}
	.fs14-xs{font-size:14px !important;}
	.fs15-xs{font-size:15px !important;}
	.fs16-xs{font-size:16px !important;}
	.fs17-xs{font-size:17px !important;}
	.fs18-xs{font-size:18px !important;}
	.fs19-xs{font-size:19px !important;}
	.fs20-xs{font-size:20px !important;}
	.fs22-xs{font-size:22px !important;}
	.fs24-xs{font-size:24px !important;}
	.fs26-xs{font-size:26px !important;}
	.fs28-xs{font-size:28px !important;}
	.fs30-xs{font-size:30px !important;}
	.fs32-xs{font-size:32px !important;}
	.fs34-xs{font-size:34px !important;}
	.fs36-xs{font-size:36px !important;}
	.fs38-xs{font-size:38px !important;}
	.fs40-xs{font-size:40px !important;}
	.fs42-xs{font-size:42px !important;}
	.fs44-xs{font-size:44px !important;}
	.fs46-xs{font-size:46px !important;}
	.fs48-xs{font-size:48px !important;}
	.fs50-xs{font-size:50px !important;}
	.fs52-xs{font-size:52px !important;}
	.fs54-xs{font-size:54px !important;}
	.fs56-xs{font-size:56px !important;}
	.fs58-xs{font-size:58px !important;}
	.fs60-xs{font-size:60px !important;}
	.fs62-xs{font-size:62px !important;}
}
@media(max-width:600px) {
	.fs10-xx{font-size:10px !important;}
	.fs11-xx{font-size:11px !important;}
	.fs12-xx{font-size:12px !important;}
	.fs13-xx{font-size:13px !important;}
	.fs14-xx{font-size:14px !important;}
	.fs15-xx{font-size:15px !important;}
	.fs16-xx{font-size:16px !important;}
	.fs17-xx{font-size:17px !important;}
	.fs18-xx{font-size:18px !important;}
	.fs19-xx{font-size:19px !important;}
	.fs20-xx{font-size:20px !important;}
	.fs22-xx{font-size:22px !important;}
	.fs24-xx{font-size:24px !important;}
	.fs26-xx{font-size:26px !important;}
	.fs28-xx{font-size:28px !important;}
	.fs30-xx{font-size:30px !important;}
	.fs32-xx{font-size:32px !important;}
	.fs34-xx{font-size:34px !important;}
	.fs36-xx{font-size:36px !important;}
	.fs38-xx{font-size:38px !important;}
	.fs40-xx{font-size:40px !important;}
	.fs42-xx{font-size:42px !important;}
	.fs44-xx{font-size:44px !important;}
	.fs46-xx{font-size:46px !important;}
	.fs48-xx{font-size:48px !important;}
	.fs50-xx{font-size:50px !important;}
	.fs52-xx{font-size:52px !important;}
	.fs54-xx{font-size:54px !important;}
	.fs56-xx{font-size:56px !important;}
	.fs58-xx{font-size:58px !important;}
	.fs60-xx{font-size:60px !important;}
	.fs62-xx{font-size:62px !important;}
}

/*line height*/
.lineH10{line-height:1;}
.lineH11{line-height:1.1;}
.lineH12{line-height:1.2;}
.lineH13{line-height:1.3;}
.lineH14{line-height:1.4;}
.lineH15{line-height:1.5;}
.lineH16{line-height:1.6;}
.lineH17{line-height:1.7;}
.lineH18{line-height:1.8;}
.lineH19{line-height:1.9;}
.lineH20{line-height:2.0;}
.lineH22{line-height:2.2;}
.lineH24{line-height:2.4;}
.lineH26{line-height:2.6;}
.lineH28{line-height:2.8;}
.lineH30{line-height:3.0;}
.lineH32{line-height:3.2;}
.lineH34{line-height:3.4;}
.lineH36{line-height:3.6;}
.lineH38{line-height:3.8;}
.lineH40{line-height:4.0;}
.lineH50{line-height:5.0;}
.lineH60{line-height:6.0;}




/*container 설정*/
@media (min-width: 1200px){
	.container {
		width: 1230px;
	}
	.container.container-lg{
		width:1280px;
	}
	.container.container-sm{
		width:1100px;
	}
	.container.container-xs{
		width:1000px;
	}
}

.container.container-full,
.container-fluid.container-full {
	padding-left:0;
	padding-right:0;
}


.row.row-lg{
	margin-left:-30px;
	margin-right:-30px;
}
.row.row-lg > .col{
	padding-left:30px;
	padding-right:30px;
}
@media(max-width:992px){
	.row.row-lg{
		margin-left:-15px;
		margin-right:-15px;
	}
	.row.row-lg > .col{
		padding-left:15px;
		padding-right:15px;
	}
}

.row.row-md
	margin-left:-20px;
	margin-right:-20px;
}
.row.row-md > .col{
	padding-left:20px;
	padding-right:20px;
}
@media(max-width:992px){
	.row.row-md{
		margin-left:-10px;
		margin-right:-10px;
	}
	.row.row-md > .col{
		padding-left:10px;
		padding-right:10px;
	}
}

.row.row-sm{
	margin-left:-10px;
	margin-right:-10px;
}

.row.row-sm > .col{
	padding-left:10px;
	padding-right:10px;
}

.row.row-xs{
	margin-left:-5px;
	margin-right:-5px;
}

.row.row-xs > .col{
	padding-left:5px;
	padding-right:5px;
}

.row.row-none,
.row-height.row-none{
	margin-left:0px;
	margin-right:0px;
}

.row.row-none > .col,
.row-height.row-none > .col{
	padding-left:0px;
	padding-right:0px;
}

.imgSize{width:100%;}

.underline-none,
.underline-none:hover,
.underline-none:active,
.underline-none:focus,
a,
a:hover,
a:active,
a:focus{text-decoration:none}


.animate02{
	transition:all 0.2s ease !important;
	-moz-transition:all 0.2s ease !important;
	-webkit-transition:all 0.2s ease !important;
	-o-transition:all 0.2s ease !important;
}
.animate03{
	transition:all 0.3s ease !important;
	-moz-transition:all 0.3s ease !important;
	-webkit-transition:all 0.3s ease !important;
	-o-transition:all 0.3s ease !important;
}
.animate04{
	transition:all 0.4s ease !important;
	-moz-transition:all 0.4s ease !important;
	-webkit-transition:all 0.4s ease !important;
	-o-transition:all 0.4s ease !important;
}
.animate1{
	transition:all 1s ease !important;
	-moz-transition:all 1s ease !important;
	-webkit-transition:all 1s ease !important;
	-o-transition:all 1s ease !important;
}


/* margin */
.mt0 {margin-top:0px !important;}
.mt05 {margin-top:5px !important;}
.mt08 {margin-top:8px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}

.mb0 {margin-bottom:0px !important;}
.mb03 {margin-bottom:3px !important;}
.mb05 {margin-bottom:5px !important;}
.mb08 {margin-bottom:8px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}
.mb80 {margin-bottom:80px !important;}

.ml05 {margin-left:5px !important;}
.ml08 {margin-left:8px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}
.ml55 {margin-left:55px !important;}
.ml60 {margin-left:60px !important;}
.ml70 {margin-left:70px !important;}
.ml80 {margin-left:80px !important;}

.mr0 {margin-right:0px !important;}
.mr05 {margin-right:5px !important;}
.mr08 {margin-right:8px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}
.mr55 {margin-right:55px !important;}
.mr60 {margin-right:60px !important;}
.mr80 {margin-right:80px !important;}


@media(max-width:1200px){
	/* margin */
.mt0-md {margin-top:0px !important;}
.mt05-md {margin-top:5px !important;}
.mt08-md {margin-top:8px !important;}
.mt10-md {margin-top:10px !important;}
.mt15-md {margin-top:15px !important;}
.mt20-md {margin-top:20px !important;}
.mt25-md {margin-top:25px !important;}
.mt30-md {margin-top:30px !important;}
.mt35-md {margin-top:35px !important;}
.mt40-md {margin-top:40px !important;}
.mt50-md {margin-top:50px !important;}
.mt55-md {margin-top:55px !important;}
.mt60-md {margin-top:60px !important;}
.mt80-md {margin-top:80px !important;}

.mb0-md {margin-bottom:0px !important;}
.mb03-md {margin-bottom:3px !important;}
.mb05-md {margin-bottom:5px !important;}
.mb08-md {margin-bottom:8px !important;}
.mb10-md {margin-bottom:10px !important;}
.mb15-md {margin-bottom:15px !important;}
.mb20-md {margin-bottom:20px !important;}
.mb25-md {margin-bottom:25px !important;}
.mb30-md {margin-bottom:30px !important;}
.mb35-md {margin-bottom:35px !important;}
.mb40-md {margin-bottom:40px !important;}
.mb50-md {margin-bottom:50px !important;}
.mb55-md {margin-bottom:55px !important;}
.mb60-md {margin-bottom:60px !important;}
.mb80-md {margin-bottom:80px !important;}

.ml0-md {margin-left:0px !important;}
.ml05-md {margin-left:5px !important;}
.ml08-md {margin-left:8px !important;}
.ml10-md {margin-left:10px !important;}
.ml15-md {margin-left:15px !important;}
.ml20-md {margin-left:20px !important;}
.ml25-md {margin-left:25px !important;}
.ml30-md {margin-left:30px !important;}
.ml35-md {margin-left:35px !important;}
.ml40-md {margin-left:40px !important;}
.ml50-md {margin-left:50px !important;}
.ml55-md {margin-left:55px !important;}
.ml60-md {margin-left:60px !important;}
.ml70-md {margin-left:70px !important;}
.ml80-md {margin-left:80px !important;}

.mr0-md {margin-right:0px !important;}
.mr05-md {margin-right:5px !important;}
.mr08-md {margin-right:8px !important;}
.mr10-md {margin-right:10px !important;}
.mr15-md {margin-right:15px !important;}
.mr20-md {margin-right:20px !important;}
.mr25-md {margin-right:25px !important;}
.mr30-md {margin-right:30px !important;}
.mr35-md {margin-right:35px !important;}
.mr40-md {margin-right:40px !important;}
.mr50-md {margin-right:50px !important;}
.mr55-md {margin-right:55px !important;}
.mr60-md {margin-right:60px !important;}
.mr80-md {margin-right:80px !important;}
}

@media(max-width:992px){
	/* margin */
.mt0-sm {margin-top:0px !important;}
.mt05-sm {margin-top:5px !important;}
.mt08-sm {margin-top:8px !important;}
.mt10-sm {margin-top:10px !important;}
.mt15-sm {margin-top:15px !important;}
.mt20-sm {margin-top:20px !important;}
.mt25-sm {margin-top:25px !important;}
.mt30-sm {margin-top:30px !important;}
.mt35-sm {margin-top:35px !important;}
.mt40-sm {margin-top:40px !important;}
.mt50-sm {margin-top:50px !important;}
.mt55-sm {margin-top:55px !important;}
.mt60-sm {margin-top:60px !important;}
.mt80-sm {margin-top:80px !important;}

.mb0-sm {margin-bottom:0px !important;}
.mb03-sm {margin-bottom:3px !important;}
.mb05-sm {margin-bottom:5px !important;}
.mb08-sm {margin-bottom:8px !important;}
.mb10-sm {margin-bottom:10px !important;}
.mb15-sm {margin-bottom:15px !important;}
.mb20-sm {margin-bottom:20px !important;}
.mb25-sm {margin-bottom:25px !important;}
.mb30-sm {margin-bottom:30px !important;}
.mb35-sm {margin-bottom:35px !important;}
.mb40-sm {margin-bottom:40px !important;}
.mb50-sm {margin-bottom:50px !important;}
.mb55-sm {margin-bottom:55px !important;}
.mb60-sm {margin-bottom:60px !important;}
.mb80-sm {margin-bottom:80px !important;}

.ml0-sm {margin-left:0px !important;}
.ml05-sm {margin-left:5px !important;}
.ml08-sm {margin-left:8px !important;}
.ml10-sm {margin-left:10px !important;}
.ml15-sm {margin-left:15px !important;}
.ml20-sm {margin-left:20px !important;}
.ml25-sm {margin-left:25px !important;}
.ml30-sm {margin-left:30px !important;}
.ml35-sm {margin-left:35px !important;}
.ml40-sm {margin-left:40px !important;}
.ml50-sm {margin-left:50px !important;}
.ml55-sm {margin-left:55px !important;}
.ml60-sm {margin-left:60px !important;}
.ml70-sm {margin-left:70px !important;}
.ml80-sm {margin-left:80px !important;}

.mr0-sm {margin-right:0px !important;}
.mr05-sm {margin-right:5px !important;}
.mr08-sm {margin-right:8px !important;}
.mr10-sm {margin-right:10px !important;}
.mr15-sm {margin-right:15px !important;}
.mr20-sm {margin-right:20px !important;}
.mr25-sm {margin-right:25px !important;}
.mr30-sm {margin-right:30px !important;}
.mr35-sm {margin-right:35px !important;}
.mr40-sm {margin-right:40px !important;}
.mr50-sm {margin-right:50px !important;}
.mr55-sm {margin-right:55px !important;}
.mr60-sm {margin-right:60px !important;}
.mr80-sm {margin-right:80px !important;}
}
@media(max-width:767px){
	/* margin */
.mt0-xs {margin-top:0px !important;}
.mt05-xs {margin-top:5px !important;}
.mt08-xs {margin-top:8px !important;}
.mt10-xs {margin-top:10px !important;}
.mt15-xs {margin-top:15px !important;}
.mt20-xs {margin-top:20px !important;}
.mt25-xs {margin-top:25px !important;}
.mt30-xs {margin-top:30px !important;}
.mt35-xs {margin-top:35px !important;}
.mt40-xs {margin-top:40px !important;}
.mt50-xs {margin-top:50px !important;}
.mt55-xs {margin-top:55px !important;}
.mt60-xs {margin-top:60px !important;}
.mt80-xs {margin-top:80px !important;}

.mb0-xs {margin-bottom:0px !important;}
.mb03-xs {margin-bottom:3px !important;}
.mb05-xs {margin-bottom:5px !important;}
.mb08-xs {margin-bottom:8px !important;}
.mb10-xs {margin-bottom:10px !important;}
.mb15-xs {margin-bottom:15px !important;}
.mb20-xs {margin-bottom:20px !important;}
.mb25-xs {margin-bottom:25px !important;}
.mb30-xs {margin-bottom:30px !important;}
.mb30-m {margin-bottom:30px !important;}
.mb35-xs {margin-bottom:35px !important;}
.mb40-xs {margin-bottom:40px !important;}
.mb50-xs {margin-bottom:50px !important;}
.mb55-xs {margin-bottom:55px !important;}
.mb60-xs {margin-bottom:60px !important;}
.mb80-xs {margin-bottom:80px !important;}

.ml0-xs {margin-left:0px !important;}
.ml05-xs {margin-left:5px !important;}
.ml08-xs {margin-left:8px !important;}
.ml10-xs {margin-left:10px !important;}
.ml15-xs {margin-left:15px !important;}
.ml20-xs {margin-left:20px !important;}
.ml25-xs {margin-left:25px !important;}
.ml30-xs {margin-left:30px !important;}
.ml35-xs {margin-left:35px !important;}
.ml40-xs {margin-left:40px !important;}
.ml50-xs {margin-left:50px !important;}
.ml55-xs {margin-left:55px !important;}
.ml60-xs {margin-left:60px !important;}
.ml70-xs {margin-left:70px !important;}
.ml80-xs {margin-left:80px !important;}

.mr0-xs {margin-right:0px !important;}
.mr05-xs {margin-right:5px !important;}
.mr08-xs {margin-right:8px !important;}
.mr10-xs {margin-right:10px !important;}
.mr15-xs {margin-right:15px !important;}
.mr20-xs {margin-right:20px !important;}
.mr25-xs {margin-right:25px !important;}
.mr30-xs {margin-right:30px !important;}
.mr35-xs {margin-right:35px !important;}
.mr40-xs {margin-right:40px !important;}
.mr50-xs {margin-right:50px !important;}
.mr55-xs {margin-right:55px !important;}
.mr60-xs {margin-right:60px !important;}
.mr80-xs {margin-right:80px !important;}
}

/* padding */
.pt0 {padding-top:0px !important;}
.pt05 {padding-top:5px !important;}
.pt08 {padding-top:8px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt55 {padding-top:55px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pt80 {padding-top:80px !important;}

.pb0 {padding-bottom:0px !important;}
.pb03 {padding-bottom:3px !important;}
.pb05 {padding-bottom:5px !important;}
.pb08 {padding-bottom:8px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb55 {padding-bottom:55px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}
.pb80 {padding-bottom:80px !important;}

.pl05 {padding-left:5px !important;}
.pl08 {padding-left:8px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}
.pl55 {padding-left:55px !important;}
.pl60 {padding-left:60px !important;}
.pl70 {padding-left:70px !important;}
.pl80 {padding-left:80px !important;}

.pr0 {padding-right:0px !important;}
.pr05 {padding-right:5px !important;}
.pr08 {padding-right:8px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}
.pr55 {padding-right:55px !important;}
.pr60 {padding-right:60px !important;}
.pr80 {padding-right:80px !important;}

@media(max-width:1200px){
	/* padding */
	.pt0-md {padding-top:0px !important;}
	.pt05-md {padding-top:5px !important;}
	.pt08-md {padding-top:8px !important;}
	.pt10-md {padding-top:10px !important;}
	.pt15-md {padding-top:15px !important;}
	.pt20-md {padding-top:20px !important;}
	.pt25-md {padding-top:25px !important;}
	.pt30-md {padding-top:30px !important;}
	.pt35-md {padding-top:35px !important;}
	.pt40-md {padding-top:40px !important;}
	.pt50-md {padding-top:50px !important;}
	.pt55-md {padding-top:55px !important;}
	.pt60-md {padding-top:60px !important;}
	.pt70-md {padding-top:70px !important;}
	.pt80-md {padding-top:80px !important;}

	.pb0-md {padding-bottom:0px !important;}
	.pb03-md {padding-bottom:3px !important;}
	.pb05-md {padding-bottom:5px !important;}
	.pb08-md {padding-bottom:8px !important;}
	.pb10-md {padding-bottom:10px !important;}
	.pb15-md {padding-bottom:15px !important;}
	.pb20-md {padding-bottom:20px !important;}
	.pb25-md {padding-bottom:25px !important;}
	.pb30-md {padding-bottom:30px !important;}
	.pb35-md {padding-bottom:35px !important;}
	.pb40-md {padding-bottom:40px !important;}
	.pb45-md {padding-bottom:45px !important;}
	.pb50-md {padding-bottom:50px !important;}
	.pb55-md {padding-bottom:55px !important;}
	.pb60-md {padding-bottom:60px !important;}
	.pb70-md {padding-bottom:70px !important;}
	.pb80-md {padding-bottom:80px !important;}

	.pl0-md {padding-left:0px !important;}
	.pl05-md {padding-left:5px !important;}
	.pl08-md {padding-left:8px !important;}
	.pl10-md {padding-left:10px !important;}
	.pl15-md {padding-left:15px !important;}
	.pl20-md {padding-left:20px !important;}
	.pl25-md {padding-left:25px !important;}
	.pl30-md {padding-left:30px !important;}
	.pl35-md {padding-left:35px !important;}
	.pl40-md {padding-left:40px !important;}
	.pl45-md {padding-left:45px !important;}
	.pl50-md {padding-left:50px !important;}
	.pl55-md {padding-left:55px !important;}
	.pl60-md {padding-left:60px !important;}
	.pl70-md {padding-left:70px !important;}
	.pl80-md {padding-left:80px !important;}

	.pr0-md {padding-right:0px !important;}
	.pr05-md {padding-right:5px !important;}
	.pr08-md {padding-right:8px !important;}
	.pr10-md {padding-right:10px !important;}
	.pr15-md {padding-right:15px !important;}
	.pr20-md {padding-right:20px !important;}
	.pr25-md {padding-right:25px !important;}
	.pr30-md {padding-right:30px !important;}
	.pr35-md {padding-right:35px !important;}
	.pr40-md {padding-right:40px !important;}
	.pr45-md {padding-right:45px !important;}
	.pr50-md {padding-right:50px !important;}
	.pr55-md {padding-right:55px !important;}
	.pr60-md {padding-right:60px !important;}
	.pr80-md {padding-right:80px !important;}
}
@media(max-width:992px){
	/* padding */
	.pt0-sm {padding-top:0px !important;}
	.pt05-sm {padding-top:5px !important;}
	.pt08-sm {padding-top:8px !important;}
	.pt10-sm {padding-top:10px !important;}
	.pt15-sm {padding-top:15px !important;}
	.pt20-sm {padding-top:20px !important;}
	.pt25-sm {padding-top:25px !important;}
	.pt30-sm {padding-top:30px !important;}
	.pt35-sm {padding-top:35px !important;}
	.pt40-sm {padding-top:40px !important;}
	.pt50-sm {padding-top:50px !important;}
	.pt55-sm {padding-top:55px !important;}
	.pt60-sm {padding-top:60px !important;}
	.pt70-sm {padding-top:70px !important;}
	.pt80-sm {padding-top:80px !important;}

	.pb0-sm {padding-bottom:0px !important;}
	.pb03-sm {padding-bottom:3px !important;}
	.pb05-sm {padding-bottom:5px !important;}
	.pb08-sm {padding-bottom:8px !important;}
	.pb10-sm {padding-bottom:10px !important;}
	.pb15-sm {padding-bottom:15px !important;}
	.pb20-sm {padding-bottom:20px !important;}
	.pb25-sm {padding-bottom:25px !important;}
	.pb30-sm {padding-bottom:30px !important;}
	.pb35-sm {padding-bottom:35px !important;}
	.pb40-sm {padding-bottom:40px !important;}
	.pb45-sm {padding-bottom:45px !important;}
	.pb50-sm {padding-bottom:50px !important;}
	.pb55-sm {padding-bottom:55px !important;}
	.pb60-sm {padding-bottom:60px !important;}
	.pb70-sm {padding-bottom:70px !important;}
	.pb80-sm {padding-bottom:80px !important;}

	.pl0-sm {padding-left:0px !important;}
	.pl05-sm {padding-left:5px !important;}
	.pl08-sm {padding-left:8px !important;}
	.pl10-sm {padding-left:10px !important;}
	.pl15-sm {padding-left:15px !important;}
	.pl20-sm {padding-left:20px !important;}
	.pl25-sm {padding-left:25px !important;}
	.pl30-sm {padding-left:30px !important;}
	.pl35-sm {padding-left:35px !important;}
	.pl40-sm {padding-left:40px !important;}
	.pl45-sm {padding-left:45px !important;}
	.pl50-sm {padding-left:50px !important;}
	.pl55-sm {padding-left:55px !important;}
	.pl60-sm {padding-left:60px !important;}
	.pl70-sm {padding-left:70px !important;}
	.pl80-sm {padding-left:80px !important;}

	.pr0-sm {padding-right:0px !important;}
	.pr05-sm {padding-right:5px !important;}
	.pr08-sm {padding-right:8px !important;}
	.pr10-sm {padding-right:10px !important;}
	.pr15-sm {padding-right:15px !important;}
	.pr20-sm {padding-right:20px !important;}
	.pr25-sm {padding-right:25px !important;}
	.pr30-sm {padding-right:30px !important;}
	.pr35-sm {padding-right:35px !important;}
	.pr40-sm {padding-right:40px !important;}
	.pr45-sm {padding-right:45px !important;}
	.pr50-sm {padding-right:50px !important;}
	.pr55-sm {padding-right:55px !important;}
	.pr60-sm {padding-right:60px !important;}
	.pr80-sm {padding-right:80px !important;}
}
@media(max-width:767px){
	/* padding */
	.pt0-xs {padding-top:0px !important;}
	.pt05-xs {padding-top:5px !important;}
	.pt08-xs {padding-top:8px !important;}
	.pt10-xs {padding-top:10px !important;}
	.pt15-xs {padding-top:15px !important;}
	.pt20-xs {padding-top:20px !important;}
	.pt25-xs {padding-top:25px !important;}
	.pt30-xs {padding-top:30px !important;}
	.pt35-xs {padding-top:35px !important;}
	.pt40-xs {padding-top:40px !important;}
	.pt50-xs {padding-top:50px !important;}
	.pt55-xs {padding-top:55px !important;}
	.pt60-xs {padding-top:60px !important;}
	.pt70-xs {padding-top:70px !important;}
	.pt80-xs {padding-top:80px !important;}

	.pb0-xs {padding-bottom:0px !important;}
	.pb03-xs {padding-bottom:3px !important;}
	.pb05-xs {padding-bottom:5px !important;}
	.pb08-xs {padding-bottom:8px !important;}
	.pb10-xs {padding-bottom:10px !important;}
	.pb15-xs {padding-bottom:15px !important;}
	.pb20-xs {padding-bottom:20px !important;}
	.pb25-xs {padding-bottom:25px !important;}
	.pb30-xs {padding-bottom:30px !important;}
	.pb35-xs {padding-bottom:35px !important;}
	.pb40-xs {padding-bottom:40px !important;}
	.pb45-xs {padding-bottom:45px !important;}
	.pb50-xs {padding-bottom:50px !important;}
	.pb55-xs {padding-bottom:55px !important;}
	.pb60-xs {padding-bottom:60px !important;}
	.pb70-xs {padding-bottom:70px !important;}
	.pb80-xs {padding-bottom:80px !important;}

	.pl0-xs {padding-left:0px !important;}
	.pl05-xs {padding-left:5px !important;}
	.pl08-xs {padding-left:8px !important;}
	.pl10-xs {padding-left:10px !important;}
	.pl15-xs {padding-left:15px !important;}
	.pl20-xs {padding-left:20px !important;}
	.pl25-xs {padding-left:25px !important;}
	.pl30-xs {padding-left:30px !important;}
	.pl35-xs {padding-left:35px !important;}
	.pl40-xs {padding-left:40px !important;}
	.pl45-xs {padding-left:45px !important;}
	.pl50-xs {padding-left:50px !important;}
	.pl55-xs {padding-left:55px !important;}
	.pl60-xs {padding-left:60px !important;}
	.pl70-xs {padding-left:70px !important;}
	.pl80-xs {padding-left:80px !important;}


	.pr0-xs {padding-right:0px !important;}
	.pr05-xs {padding-right:5px !important;}
	.pr08-xs {padding-right:8px !important;}
	.pr10-xs {padding-right:10px !important;}
	.pr15-xs {padding-right:15px !important;}
	.pr20-xs {padding-right:20px !important;}
	.pr25-xs {padding-right:25px !important;}
	.pr30-xs {padding-right:30px !important;}
	.pr35-xs {padding-right:35px !important;}
	.pr40-xs {padding-right:40px !important;}
	.pr45-xs {padding-right:45px !important;}
	.pr50-xs {padding-right:50px !important;}
	.pr55-xs {padding-right:55px !important;}
	.pr60-xs {padding-right:60px !important;}
	.pr80-xs {padding-right:80px !important;}
}

/*가로값*/
.w10{width:10px !important;}
.w20{width:20px !important;}
.w30{width:30px !important;}
.w40{width:40px !important;}
.w50{width:50px !important;}
.w60{width:60px !important;}
.w70{width:70px !important;}
.w80{width:80px !important;}
.w90{width:90px !important;}
.w100{width:100px !important;}
.w110{width:110px !important;}
.w120{width:120px !important;}
.w130{width:130px !important;}
.w140{width:140px !important;}
.w150{width:150px !important;}
.w160{width:160px !important;}
.w170{width:170px !important;}
.w180{width:180px !important;}
.w190{width:190px !important;}
.w200{width:200px !important;}
.w210{width:210px !important;}
.w220{width:220px !important;}
.w230{width:230px !important;}
.w240{width:240px !important;}
.w250{width:250px !important;}
.w260{width:260px !important;}
.w270{width:270px !important;}
.w280{width:280px !important;}
.wp100 {width:100% !important;}
.wp90 {width:90% !important;}
.wp80 {width:80% !important;}
.wp70 {width:70% !important;}
.wp60 {width:60% !important;}
.wp50 {width:50% !important;}
.wp40 {width:40% !important;}
.wp30 {width:30% !important;}
.wp20 {width:20% !important;}
.wp10 {width:10% !important;}
@media(max-width:1200px){
/*가로값*/
.w10-md{width:10px !important;}
.w20-md{width:20px !important;}
.w30-md{width:30px !important;}
.w40-md{width:40px !important;}
.w50-md{width:50px !important;}
.w60-md{width:60px !important;}
.w70-md{width:70px !important;}
.w80-md{width:80px !important;}
.w90-md{width:90px !important;}
.w100-md{width:100px !important;}
.w110-md{width:110px !important;}
.w120-md{width:120px !important;}
.w130-md{width:130px !important;}
.w140-md{width:140px !important;}
.w150-md{width:150px !important;}
.w160-md{width:160px !important;}
.w170-md{width:170px !important;}
.w180-md{width:180px !important;}
.w190-md{width:190px !important;}
.w200-md{width:200px !important;}
.w210-md{width:210px !important;}
.w220-md{width:220px !important;}
.w230-md{width:230px !important;}
.w240-md{width:240px !important;}
.w250-md{width:250px !important;}
.w260-md{width:260px !important;}
.w270-md{width:270px !important;}
.w280-md{width:280px !important;}

.wp100-md {width:100% !important;}
.wp90-md {width:90% !important;}
.wp80-md {width:80% !important;}
.wp70-md {width:70% !important;}
.wp60-md {width:60% !important;}
.wp50-md {width:50% !important;}
.wp40-md {width:40% !important;}
.wp30-md {width:30% !important;}
.wp20-md {width:20% !important;}
.wp10-md {width:10% !important;}
}
@media(max-width:992px){
/*가로값*/
.w10-sm{width:10px !important;}
.w20-sm{width:20px !important;}
.w30-sm{width:30px !important;}
.w40-sm{width:40px !important;}
.w50-sm{width:50px !important;}
.w60-sm{width:60px !important;}
.w70-sm{width:70px !important;}
.w80-sm{width:80px !important;}
.w90-sm{width:90px !important;}
.w100-sm{width:100px !important;}
.w110-sm{width:110px !important;}
.w120-sm{width:120px !important;}
.w130-sm{width:130px !important;}
.w140-sm{width:140px !important;}
.w150-sm{width:150px !important;}
.w160-sm{width:160px !important;}
.w170-sm{width:170px !important;}
.w180-sm{width:180px !important;}
.w190-sm{width:190px !important;}
.w200-sm{width:200px !important;}
.w210-sm{width:210px !important;}
.w220-sm{width:220px !important;}
.w230-sm{width:230px !important;}
.w240-sm{width:240px !important;}
.w250-sm{width:250px !important;}
.w260-sm{width:260px !important;}
.w270-sm{width:270px !important;}
.w280-sm{width:280px !important;}

.wp100-sm {width:100% !important;}
.wp90-sm {width:90% !important;}
.wp80-sm {width:80% !important;}
.wp70-sm {width:70% !important;}
.wp60-sm {width:60% !important;}
.wp50-sm {width:50% !important;}
.wp40-sm {width:40% !important;}
.wp30-sm {width:30% !important;}
.wp20-sm {width:20% !important;}
.wp10-sm {width:10% !important;}
}
@media(max-width:767px){
/*가로값*/
.w10-xs{width:10px !important;}
.w20-xs{width:20px !important;}
.w30-xs{width:30px !important;}
.w40-xs{width:40px !important;}
.w50-xs{width:50px !important;}
.w60-xs{width:60px !important;}
.w70-xs{width:70px !important;}
.w80-xs{width:80px !important;}
.w90-xs{width:90px !important;}
.w100-xs{width:100px !important;}
.w110-xs{width:110px !important;}
.w120-xs{width:120px !important;}
.w130-xs{width:130px !important;}
.w140-xs{width:140px !important;}
.w150-xs{width:150px !important;}
.w160-xs{width:160px !important;}
.w170-xs{width:170px !important;}
.w180-xs{width:180px !important;}
.w190-xs{width:190px !important;}
.w200-xs{width:200px !important;}
.w210-xs{width:210px !important;}
.w220-xs{width:220px !important;}
.w230-xs{width:230px !important;}
.w240-xs{width:240px !important;}
.w250-xs{width:250px !important;}
.w260-xs{width:260px !important;}
.w270-xs{width:270px !important;}
.w280-xs{width:280px !important;}

.wp100-xs {width:100% !important;}
.wp90-xs {width:90% !important;}
.wp80-xs {width:80% !important;}
.wp70-xs {width:70% !important;}
.wp60-xs {width:60% !important;}
.wp50-xs {width:50% !important;}
.wp40-xs {width:40% !important;}
.wp30-xs {width:30% !important;}
.wp20-xs {width:20% !important;}
.wp10-xs {width:10% !important;}
}


.hp100{height:100% !important;}

/**/
.imgSize{width:100% !important;}

/*display-table*/
.dp-inblock{display:inline-block;}
.dp-block{display:block;}

.dp-table{display:table;}
.dp-table-row{display:table-row}
.dp-table-cell{display:table-cell}
@media(max-width:992px){
	.dp-table.dp-table-sm{display:block; width:100% !important;}
	.dp-table-sm > .dp-table-row{display:block; width:100% !important;}
	.dp-table-sm > .dp-table-cell{display:block; width:100% !important;}
}
@media(max-width:767px){
	.dp-table.dp-table-xs{display:block; width:100% !important;}
	.dp-table-xs > .dp-table-row{display:block; width:100% !important;}
	.dp-table-xs > .dp-table-cell{display:block; width:100% !important;}
}
.dp-table.middle > .dp-table-cell{vertical-align:middle;}

/**/
.vertical-middle{
	vertical-align:middle;
}
.vertical-top{
	vertical-align:top;
}
.vertical-bottom{
	vertical-align:bottom;
}
.block-center{margin:0 auto;}
.text-center{text-align:center !important}
.text-left{text-align:left !important}
.text-right{text-align:right !important}
@media(max-width:992px){
	.text-center-sm{text-align:center !important}
	.text-left-sm{text-align:left !important}
	.text-right-sm{text-align:right !important}
	.text-center-m{text-align:center !important;}
}

@media(max-width:767px){
	.text-center-xs{text-align:center !important}
	.text-left-xs{text-align:left !important}
	.text-right-xs{text-align:right !important}
}

/*기타*/
.underline{
	border-bottom:1px solid #333;
}

hr.hr-black{    border-top: 1px solid #000;}	
hr.hr-black2{    border-top: 2px solid #000;}	
hr.hr-white2{ border-top: 2px solid #fff !important;}	
hr.hr-gray{    border-top: 1px solid #ddd;}	
hr.lineGray{
	margin:50px 0;
	border-top: 1px solid #cccccc;
}
.btn-border-none{border-radius:0;}
.btn.btn-black{
	background:#000;
	color:#fff;
}



/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SCROLLBAR DYNAMIC ***************/

.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-dynamic > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-x {
    bottom: 2px;
    height: 7px;
    left: 0;
    min-width: 100%;
    width: 100%;
}

.scrollbar-dynamic > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 2px;
    top: 0;
    width: 7px;
}

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
    opacity: 0.3;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.scrollbar-dynamic > .scroll-element .scroll-element_size {
    background-color: #cccccc;
    opacity: 0;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.scrollbar-dynamic > .scroll-element .scroll-bar {
    background-color: #6c6e71;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* scrollbar height/width & offset from container borders */

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
    bottom: 0;
    height: 7px;
    min-width: 24px;
    top: auto;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
    left: auto;
    min-height: 24px;
    right: 0;
    width: 7px;
}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
    bottom: 0;
    top: auto;
    left: 2px;

    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    -ms-transition: height 0.2s;
    transition: height 0.2s;
}

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
    left: auto;
    right: 0;
    top: 2px;

    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -ms-transition: width 0.2s;
    transition: width 0.2s;
}

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size { top: -4px; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }


/* hover & drag */

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
    overflow: hidden;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
    opacity: 1;
}
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    height: 100%;
    width: 100%;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
    height: 20px;
    min-height: 7px;
}
.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    min-width: 7px;
    width: 20px;
}