.main_wrap{
	height:100%;
	overflow:hidden;
}

#root {
	height: 100%;
}
footer.main_footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
}
#main_contents  .our_work{
	background:#000 ;
	position:fixed;
	z-index:101;
	left:0;
	top:50%;
	height:240px;
	width:80px;
	color:#fff;
	font-size:1.4em;
	font-weight:500;
	text-align:center;
	line-height:80px;
	letter-spacing:4px;
	transform:translateY(-50%);
	transition:all 0.3s ease-in-out !important;
	-moz-transition:all 0.3s ease-in-out !important;
	-webkit-transition:all 0.3s ease-in-out !important;
	-o-transition:all 0.3s ease-in-out !important;
}
#main_contents  .our_work > span{
	position:absolute;
	width:240px;
	left:-80px;
	top:50%;
	margin-top:-40px;
	text-align:center;
	transform:rotate(90deg);
}

#main_contents,
#main_contents  .container_outer{
	height:100%;
}
@media screen and (max-width: 1300px) , screen and (max-height: 850px) {
	.main_wrap{
		height:900;
		overflow-y:scroll;
	}
	#main_contents,
	#main_contents  .container_outer{
		height:900px;
	}
}
@media(max-width:992px){
	.main_wrap{
		height:100%;
		overflow:hidden !important;
	}
}


#main_contents  .our_work:after{
	content:"";
	left:50%;
	top:50%;
	width:180px;
	height:38px;
	margin-left:-90px;
	margin-top:-19px;
	position:absolute;
	background:url(../img/comm/logo_w.png) no-repeat center center / cover;
	opacity:.15;
	transform:rotate(90deg);
}
#main_contents  .our_work:hover{
	height:100%;
}

#main_contents .more_about{
	position:absolute;
	left:0;
	top:-100px;
	font-size:1.8em;
	z-index:10;
}
#main_contents .more_about > a{
	display:block;
	position:relative;
	color:#333;
	font-weight:500;
	padding:20px 0;
	padding-right:100px;
}


#main_contents .more_about > a > i{
	position:absolute;
	top:50%;
	margin-top:-28px;
	right:0;
	width:56px;
	height:56px;
	border-radius:100%;
	background:#fff;
	border:1px solid #333;
}
#main_contents .more_about > a > i:after{
	content:"";
	position:absolute;
	background:url(../img/icon/more_arrow.png) no-repeat center center / cover;
	width:43px;
	height:11px;
	left:-20px;
	top:50%;
	margin-top:-6px;
	transition:all 0.3s ease !important;
	-moz-transition:all 0.3s ease !important;
	-webkit-transition:all 0.3s ease !important;
	-o-transition:all 0.3s ease !important;
}	
#main_contents .more_about > a:hover > i{
	background:#000;
	border:1px solid #000;
	width:66px;
	height:66px;
	margin-top:-33px;
}
#main_contents .more_about > a:hover > i:after{
	background:url(../img/icon/more_arrow_w.png) no-repeat center center / cover;
	left:8px;
}

#main_work_list{
	bottom:78px;
	position:absolute;
	left:0;
	width:100%;
}
#main_work_list .logo{
	top:-280px;
	position:absolute;
	left:0;
}
@media screen and (max-width: 1300px) , screen and (max-height: 900px) {
	#main_work_list .logo{
		top:-260px;
	}
}

#main_work_list .logo #rev-1{
	position:relative;
	transition:all 0.2s ease !important;
	-moz-transition:all 0.2s ease !important;
	-webkit-transition:all 0.2s ease !important;
	-o-transition:all 0.2s ease !important;
}
#main_work_list .logo .logo_stroke{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	opacity:0;
	transition:all 0.15s ease !important;
	-moz-transition:all 0.15s ease !important;
	-webkit-transition:all 0.15s ease !important;
	-o-transition:all 0.15s ease !important;
}
#main_work_list .logo:hover #rev-1{
	margin-left:-5px;
	margin-top:-5px;
}
#main_work_list .logo:hover .logo_stroke{
	margin-left:5px;
	margin-top:5px;
	opacity:1;
}



#main_work_list .swiper-container{
	width:130%;
}

#main_work_list .swiper-slide > a{
	display:block;
	position:relative;
	color:#fff;
	padding-top:80%;
}
#main_work_list .swiper-slide > a > div.txt_con{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(239,80,37,.8);
	text-align:center;
	transform:scale(.9);
	opacity:0;
	transition:all 0.3s ease !important;
	-moz-transition:all 0.3s ease !important;
	-webkit-transition:all 0.3s ease !important;
	-o-transition:all 0.3s ease !important;
}
#main_work_list .swiper-slide > a:hover > div.txt_con,
#main_work_list .swiper-slide > a:focus > div.txt_con{
	transform:scale(1);
	opacity:1;
}

#main_work_list .swiper-slide > a > div.txt_con > div{
	position:absolute;
	width:100%;
	left:0;
	top:50%;
	transform:translateY(-50%);
}
#main_work_list .swiper-slide > a > div.txt_con > div .s_title{
	font-size:1.4em;
	letter-spacing:3px;
	font-weight:500;
	margin-bottom:15px;
}
#main_work_list .swiper-slide > a > div.txt_con > div .title{
	font-size:3em;
	letter-spacing:-0.03em;
}
#main_work_list .swiper-slide > a > div.txt_con > div .more{
	display:block;
	border:1px solid rgba(255,255,255,.7);
	border-radius:100%;
	width:80px;
	height:80px;
	margin:0 auto;
	margin-top:40px;
	position:relative;
}
#main_work_list .swiper-slide > a > div.txt_con > div .more:after,
#main_work_list .swiper-slide > a > div.txt_con > div .more:before{
	content:"";
	width:24px;
	border-top:2px solid #fff;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-12px;
	margin-top:-1px;
}
#main_work_list .swiper-slide > a > div.txt_con > div .more:before{
	transform:rotate(90deg);
}




#main_work_list .main_work_control{
	position:absolute;
	right:0;
	top:-100px;
	width:280px;
	border-bottom:1px solid #ddd;
	text-align:right;
}

#main_work_list .main_work_control .control-prev,
#main_work_list .main_work_control .control-next{
	position:relative;
	float:left;
	font-weight:600;
	font-size:14px;
	color:#000;
	z-index:10;
	cursor:pointer;
}
#main_work_list .main_work_control p{
	padding:0px 10px;
	color:#ccc;
	font-size:11px;
	margin-top:2px;
}
#main_work_list .swiper-pagination{
	width:auto;
	font-size:14px;
	_overflow:hidden;
	padding-left:25px;
	padding-top:10px;
	line-height:14px;
}
#main_work_list .swiper-pagination-current{
	font-size:30px;
	font-weight:600;
	position:absolute;
	bottom:5px;
	left:0;
}


@media(max-width:1680px){
	#main_contents  .container_outer{
		margin-left:150px;
	}
	#main_work_list .main_work_control{
		right:60px;
	}
}
@media(max-width:992px){
	#main_contents  .our_work{
		height:200px;
		width:60px;
		font-size:1.4em;
		line-height:60px;

	}
	#main_contents  .our_work > span{
		position:absolute;
		width:200px;
		left:-60px;
		top:50%;
		margin-top:-30px;
	}

	#main_work_list .logo img{
		max-width:400px !important;
	}
	#main_work_list .swiper-slide > a > div.txt_con > div .s_title{
		font-size:1.2em;
	}
	#main_work_list .swiper-slide > a > div.txt_con > div .title{
		font-size:2.5em;
	}
	#main_work_list .swiper-slide > a > div.txt_con > div .more{
		display:block;
		border:1px solid rgba(255,255,255,.7);
		border-radius:100%;
		width:80px;
		height:80px;
		margin:0 auto;
		margin-top:40px;
		position:relative;
	}
	#main_work_list .swiper-slide > a > div.txt_con > div .more:after,
	#main_work_list .swiper-slide > a > div.txt_con > div .more:before{
		content:"";
		width:24px;
		border-top:2px solid #fff;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-12px;
		margin-top:-1px;
	}
}


@media(max-width:767px){
	.main_wrap{
		height:auto;
	}
	#main_contents,
	#main_contents  .container_outer{
		height:auto;
	}
	footer.main_footer{
		position:relative;
		_border-top:1px solid #ddd;
	}
	#main_work_list{
		bottom:0px;
		position:relative;
		left:0;
		width:100%;
		padding-top:100px;
	}
	#main_contents  .container_outer{
		margin-left:0px;
	}
	#main_work_list .logo{
		top:0;
		position:relative;
		left:0;
		padding:30px;
	}
	#main_work_list .logo img{
		max-width:240px !important;
	}
	#main_contents .more_about{
		top:0;
		position:relative;
		left:0;
		font-size:1.6em;
		z-index:10;
		padding:0px 30px;
	}
	#main_contents .more_about > a{
		display:inline-block;
		position:relative;
		color:#333;
		font-weight:500;
		padding:15px 0;
		padding-right:70px;
	}
	#main_contents .more_about > a > i{
		position:absolute;
		top:50%;
		margin-top:-20px;
		right:0;
		width:40px;
		height:40px;
		border-radius:100%;
		background:#fff;
		border:1px solid #333;
	}
	#main_contents .more_about > a > i:after{
		content:"";
		position:absolute;
		background:url(../img/icon/more_arrow.png) no-repeat center center / cover;
		width:30px;
		height:8px;
		left:-15px;
		top:50%;
		margin-top:-6px;
		transition:all 0.3s ease !important;
		-moz-transition:all 0.3s ease !important;
		-webkit-transition:all 0.3s ease !important;
		-o-transition:all 0.3s ease !important;
	}	
	#main_contents .more_about > a:hover > i{
		background:#000;
		border:1px solid #000;
		width:56px;
		height:56px;
		margin-top:-28px;
	}
	#main_contents .more_about > a:hover > i:after{
		background:url(../img/icon/more_arrow_w.png) no-repeat center center / cover;
		left:8px;
	}
	#main_contents .more_about.more_work > a{
		font-weight:700;
		font-size:1.8em;
	}
	.mobile_work_list{}
	.mobile_work_list .list_view_type{
	}
	.mobile_work_list .list_view_type > a{
		display:inline-block;
		overflow:hidden;
		background:#cccccc;
		width:32px;
		height:32px;
		border-radius:3px;
		margin-left:5px;
		font-size:0;
		text-indent:-100px;
		padding:8px;
	}
	
	.mobile_work_list .list_view_type > a > span{
		position:relative;
		height:16px;
		width:16px;
		display:block;
		background:#fff;
	}
	.mobile_work_list .list_view_type > a.view_type2 > span:after,
	.mobile_work_list .list_view_type > a.view_type2 > span:before{
		content:"";
		position:absolute;
		background:#cccccc;
	}
	.mobile_work_list .list_view_type > a.view_type2 > span:after{
		width:100%;
		top:50%;
		left:0;
		margin-top:-1px;
		height:2px;
	}
	.mobile_work_list .list_view_type > a.view_type2 > span:before{
		height:100%;
		left:50%;
		top:0;
		margin-left:-1px;
		width:2px;
	}
	.mobile_work_list .list_view_type > a.active,
	.mobile_work_list .list_view_type > a.view_type2.active > span:after,
	.mobile_work_list .list_view_type > a.view_type2.active > span:before{
		background:#ef5025;
	}
	.mobile_work_list .m_list_type{
		padding:0;
		transition:all 0.4s ease !important;
		-moz-transition:all 0.4s ease !important;
		-webkit-transition:all 0.4s ease !important;
		-o-transition:all 0.4s ease !important;
	}
	.mobile_work_list .m_list_type > li{
		float:left;
		width:100%;
		transition:all 0.4s ease-in-out !important;
		-moz-transition:all 0.4s ease-in-out !important;
		-webkit-transition:all 0.4s ease-in-out !important;
		-o-transition:all 0.4s ease-in-out !important;
	}
	.mobile_work_list .m_list_type > li > a {
		display:block;
		position:relative;
		color:#fff;
		padding-top:90%;
	}
	.mobile_work_list .m_list_type > li > a > div.txt_con{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,.3);
		text-align:center;
		transition:all 0.3s ease !important;
		-moz-transition:all 0.3s ease !important;
		-webkit-transition:all 0.3s ease !important;
		-o-transition:all 0.3s ease !important;
	}

	.mobile_work_list .m_list_type > li > a > div.txt_con > div{
		position:absolute;
		width:100%;
		left:0;
		top:50%;
		transform:translateY(-50%);
	}
	.mobile_work_list .m_list_type > li > a > div.txt_con > div .s_title{
		font-size:1.4em;
		letter-spacing:3px;
		font-weight:500;
		margin-bottom:5px;
		opacity:.8
	}
	.mobile_work_list .m_list_type > li > a > div.txt_con > div .title{
		font-size:2.2em;
		letter-spacing:-0.03em;
	}
	.mobile_work_list .m_list_type.type2 > li > a > div.txt_con > div .title{
		font-size:2em;
		letter-spacing:-0.03em;
	}
	.mobile_work_list .m_list_type > li > a > div.txt_con > div .more{
		display:block;
		border:1px solid rgba(255,255,255,.7);
		border-radius:100%;
		width:50px;
		height:50px;
		margin:0 auto;
		margin-top:20px;
		position:relative;
	}
	.mobile_work_list .m_list_type > li > a > div.txt_con > div .more:after,
	.mobile_work_list .m_list_type > li > a > div.txt_con > div .more:before{
		content:"";
		width:16px;
		border-top:2px solid #fff;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-8px;
		margin-top:-1px;
	}
	.mobile_work_list .m_list_type > li > a > div.txt_con > div .more:before{
		transform:rotate(90deg);
	}

	.mobile_work_list .m_list_type.type2{
		padding:0px 10px;
	}
	.mobile_work_list .m_list_type.type2 > li{
		width:50%;
		padding:5px;
	}
	.mobile_work_list .m_list_type.type2 > li > a{
		padding-top:130%;
	}


}

#main_work_list:hover .main_fp_scroll{
	opacity:.4;
	right:-90px;
}
.main_fp_scroll{
	position:absolute;
	right:-50px;
	top:0;
	color:#fff;
	z-index:20;
	top:50%;
	transform:translateY(-50%);
	font-size:1.6rem;
	padding-right:60px;
	font-weight:300;
	transition:all 0.5s ease !important;
	-moz-transition:all 0.5s ease !important;
	-webkit-transition:all 0.5s ease !important;
	-o-transition:all 0.5s ease !important;
}
.main_fp_scroll > span{
	border:1px solid #fff;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-20px;
	width:40px;
	height:40px;
	border-radius:100%;
	opacity:.8;
}
.main_fp_scroll > img{
	position:absolute;
	right:20px;
	top:5px;
	animation: fp_scroll .6s infinite alternate;
	 animation-timing-function:ease;
}


@-webkit-keyframes fp_scroll {
  0% {
    right:20px;
  }
  100% {
    right:8px;
  }

