<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'common_link.html' %}
    </head>
    <body class="pt-5 mt-3">

        {% include 'header.html' %}
        <form method="POST" action="{% url 'change_pw' %}">{% csrf_token %}
            <div class="modal fade" id="change_pw" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center bg-secondary text-white">
                            <h4 class="modal-title w-100 ">Sign in</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-4">
                                <label data-error="wrong" data-success="right"></label>
                                <input type="password" name="old_password" autofocus="" required="" id="id_old_password"
                                       placeholder="기존 비밀번호"/>
                            </div>
                            <div class="md-form mb-4">
                                <label data-error="wrong" data-success="right"></label>
                                <input type="password" name="new_password1" required="" id="id_new_password1"
                                       placeholder="새 비밀번호"/>
                            </div>
                            <div class="md-form mb-4">
                                <label data-error="wrong" data-success="right"></label>
                                <input type="password" name="new_password2" required="" id="id_new_password2"
                                       placeholder="새 비밀번호 확인"/>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="submit" class="btn btn-default btn-outline-secondary">변경</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% ifequal change 1 %}
            <script type="text/javascript">
              alert("변경하였습니다.");
            </script>
        {% endifequal %}

        {% ifequal change 0 %}
            <script type="text/javascript">
              alert("변경실패. 8자리 이상 영문, 숫자, 특수문자를 조합해주세요.");
            </script>
        {% endifequal %}
        id={{ user.username }}<br>
        name={{ user_detail.name }}<br>
        <button class="btn text-dark border-0" data-toggle="modal" data-target="#change_pw">비밀번호 변경</button>
        <br>
        student_number={{ user_detail.student_number }}<br>
        major={{ user_detail.major }}<br>
        gender={{ user_detail.gender }}<br>
        email={{ user_detail.email }}<br>
        is_hantor={{ user_detail.is_hantor }}<br>
    </body>
</html>