<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SIGN-UP</title>
    {% load staticfiles %}
    <script src="{% static "js/sign_up.js" %}"></script>

</head>

<body class="pt-5 m-3">

    {% include 'header.html' %}

    <form name="signUpForm" action="{%url 'sign_up'%}" method="post" onsubmit="return chk_value(this)">{% csrf_token %}
        <div class="section">
            <div class="container p-5 border border-light">
                <div class="row p-5">
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold">회원가입</h2>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="ID" name="ID">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" placeholder="Password 확인 " name="password2">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="학번" name="studentNum">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="이름" name="name">
                    </div>
                </div>
                <!--div class="form-group">
                    <input type="text" class="form-control" placeholder="주소를 입력하세요.." name="address">
                </div-->
                <div class="form-row">
                    <!--div class="form-group col-md-6">
                        <input type="text" class="form-control" name="city">
                    </div-->
                    <div class="form-group col-md-6">
                        <label for="major">학과</label>
                        <select id="major" class="form-control" name="major">
                            <option value="Software" selected>Software</option>
                            <option value="CyberSecuriy">CyberSecuriy</option>
                            <option value="multi">복수전공</option>
                            <option value="secondary">부전공</option>
                            <option value="etc">기타</option>
                        </select>
                    </div>

                    <div class="form-row col-12">
                        <div class="form-group col-6">
                            <label for="gender">Gender</label>
                            <input type="radio" name="gender" value="male">male
                            <input type="radio" name="gender" value="female">female
                        </div>
                        <div class="form-group col-6">
                            <label for="isHantor">한터입니까?</label>
                            <input type="radio" name="isHantor" value="True">Yes
                            <input type="radio" name="isHantor" value="False">No
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <label for="exampleFormControlTextarea1" class="h4 font-weight-bold  pb-2">개인정보수집동의</label>
                    <textarea class="w-100 text-left" wrap="hard" style="display:block;" readonly="ed"
                        rows="5"> There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.If you are going to use a passage of Lorem Ipsum,you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</textarea>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chk" name="chkOk">
                        <label class="form-check-label" for="chk">
                            동의합니다.
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" value="회원가입" OnClick="javascript:signUpCheck();">
                </div>
            </div>
        </div>

    </form>
</body>
<script language="javascript">
      function signUpCheck() {
          var form = document.signUpForm;

          if (!form.ID.value) {
              alert("아이디를 적어주세요");
              form.ID.focus();
              return;
          }
          if (!form.password.value) {
              alert("비밀번호를 적어주세요");
              form.password.focus();
              return;
          }
          if (!form.email.value) {
              alert("이메일을 적어주세요");
              form.email.focus();
              return;
          }
          if (!form.studentNum.value) {
              alert("학번을 적어주세요");
              form.studentNum.focus();
              return;
          }
          if (!form.major.value) {
              alert("학과를 적어주세요");
              form.major.focus();
              return;
          }
          if (!form.gender.value) {
              alert("성별을 적어주세요");
              form.gender.focus();
              return;
          }
          if (!form.isHantor.value) {
              alert("한터 여부를 적어주세요");
              form.isHantor.focus();
              return;
          }
          form.submit();
      }
  </script>
</html>