<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
        <h1>LOGIN</h1>
        <form method="POST" action="{%url 'sign_in'%}">{% csrf_token %}
            ID :
            <br>
            <input name="ID" type="text">
            <br>
            Password :
            <br>
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary" value="sign_in">
        </form>
    </div>
</body>
</html>