<!doctype html>
<html>
    {% load staticfiles %}
    <head>
        {% include 'common_link.html' %}
        <script src="../ajax/libs/jquery_2.2.4/jquery.min.js"></script>
        <script src="../dist/jquery.table2excel.js"></script>
    </head>
    {% if permission %}
        <body class="pt-5 mt-3">
            {% include 'header.html' %}
            <table class="table table-sm table-hover" style="table-layout: fixed;" cellspacing=1 id="desk_member">
                <thead>
                    <tr>
                        <td class=" text-center" scope="col" style="width:7%;">
                            이름
                        </td>
                        <td class=" text-center" scope="col" style="width:7%;">
                            학번
                        </td>
                        <td class=" text-center" scope="col" style="width:7%;">
                            생년월일
                        </td>
                        <td class=" text-center" scope="col" style="width:7%;">
                            전화번호
                        </td>
                        <td class=" text-center" scope="col" style="width:7%;">
                            학과
                        </td>
                    </tr>
                </thead>
                <ul>
                    {% for desk_member in desk_members %}
                        <tr>
                            <td class="text-center ">
                                {{ desk_member.name }}
                            </td>
                            <td class="text-center ">
                                {{ desk_member.student_number }}
                            </td>
                            <td class="text-center ">
                                {{ desk_member.birthday }}
                            </td>
                            <td class="text-center ">
                                {{ desk_member.phone_number }}
                            </td>
                            <td class="text-center ">
                                {{ desk_member.major }}
                            </td>
                        </tr>
                    {% endfor %}
                </ul>
            </table>
            <form id="desk_list" action="/excel_list/" method="get">
                <input class="btn btn-primary" type="submit" value="excel파일로 출력하기"></form>
            </form>
            <script>
              $(function () {
                $("#table1").table2excel({
                  name: "Excel table",
                  filename: "excel table",
                  fileext: ".xls",
                  exclude_img: true,
                  exclude_links: true,
                  exclude_inputs: true
                });
              });
            </script>
        </body>
    {% else %}
        <body><B>관리자가 아닙니다<br></B></body>
        <body><a href='/'>홈으로</a></body>
    {% endif %}
</html>