<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PostModify</title>
    {% include 'common_link.html' %}
</head>
<script language="javascript">
    function writeCheck() {
        var form = document.modifyform;

        if (!form.title.value) {
            alert("제목을 적어주세요");
            form.title.focus();
            return;
        }
        if (!form.body.value) {
            alert("내용을 적어주세요");
            form.body.focus();
            return;
        }
        form.submit();
    }
</script>

<body class="pt-5 mt-3">
    {% include 'header.html' %}
    <div class="container-fluid">
        <a class="btn border  px-3" href="/posts">&lArr;</a>
        <form name="modifyform" method="post" action="{% url 'update_post' %}">{% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post_id }}">

            
            <div class="form-group row">
                <label class="col-form-label col-1"><b>제목</b></label>
                <div class="col-11">
                    <input class="form-control" type="text" name="title" value="{{ post_data.title }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-1"><b>내용</b></label>
                <div class="col-11">
                    <textarea class="form-control" name="body" cols=50 rows=10>{{ post_data.body }}</textarea>
                </div>
            </div>
            <div class="w-100 row justify-content-center">
                <input type="button" class="btn btn-warning mx-3" value="재등록" OnClick="javascript:writeCheck();">
            </div>
        </form>
    </div>
    {% include 'footer.html' %}
</body>

</html>