<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    {% include 'common_link.html' %}
    <style>
        .card div {
            white-space: nowrap;
        }
    </style>
</head>

<body class="pt-5 mt-3">
    {% include 'header.html' %}
    <div class="text-center h2 py-3 mt-4">
        CONTACT
        <!-- {{overflow_data.category}} -->
    </div>
    <div class=" text-center py-4 bg-custom2 rounded">
        <h4 class="fon h3">임원진 소개</h4>
    </div>
    <hr style=" margin-top: 0; border:0; height: 3px; background: rgba(0, 208, 255, 0.912);">

    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/bae.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3">회장 배재훈</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 26기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/emp.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3">부회장 정소희</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 28기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/emp.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3">총무 홍수민</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 29기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <div class="text-center h2 py-4 mt-5">
        ABOUT
        <!-- {{overflow_data.category}} -->
    </div>
    <div class=" text-center py-4 bg-custom2 rounded">
        <h4 class="fon h3">개발진 소개</h4>
    </div>
    <hr style=" margin-top: 0; border:0; height: 3px; background: rgba(0, 208, 255, 0.912);">

    <div class="container-fluid mb-4">

        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-3">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/emp.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3"> 권인우</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 26기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/bae.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3"> 배재훈</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 27기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/emp.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3"> 배해진</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 30기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card mt-3 text-center">
                    <!-- set a width on the image otherwise it will expand to full width       -->
                    <div class="text-center mt-4">
                        <img src="/static/images/emp.jpg" style="width: 150px" class="card-img-top rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fon h3">이제찬</h5>
                        <p class="card-text">
                            010-1234-1234
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">한터 26기</small>
                    </div>
                </div>
                <!-- /.card -->
            </div>

        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>