<footer style="background-color: #01024e" class="pt-3">
    <ul class=" footer-menu row mx-4 justify-content-center"
        style="list-style:none; padding-left:0px; font-size: 0.8rem;">
        <li class="col-2 ">
            <a href="/contact">운영진 소개</a>
        </li>
        <li class="col-2">
            <a href="/post">공지사항</a>
        </li>
        <li class="col-2">
            <a href="/partnership">광고 및 제휴</a>
        </li>
        <li class="col-2 ">
            <a href="/">이용자약관</a>
        </li>
        <li class="col-2">
            <a href="/">문의</a>
        </li>
    </ul>

    <div class="text-center h4">
        <a href="https://facebook.com">facebook |</a>
        <a href="https://instagram.com">instagram</a>
    </div>


    <div style="background-color: #543864" class="w-100 text-primary text-center py-3">© 2018 Copyright:
        <a href="/contact"> Hantor</a>
    </div>
</footer>