<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{book_name}} return</title>
    <meta charset="utf-8">
    <meta name="viewport" context="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

{% for rent_book in book %}
    <h1>{{rent_book.book_name}}</h1>
    <form action="#",method = "PUT">
        <button name="rent" >대여</button>
    </form>
    <td>확인</td>
{% endfor %}
</body>
