#rev-2 > .block-revealer__element {
    transform: scaleX(0); 
    transform-origin: 100% 50%; 
    background-color: rgb(23, 221, 235); 
    opacity: 1;
}
#content_title {
    color :  rgb(23, 221, 235); 
}

#rev-2 {
    position : relative;
}

#rev-2 > .block-revealer__content {
    opacity: 1;
}


#sub_contents {
    position:relative;
    z-index:1;
  }
#sub_contents::after {
    background: url('../../assets/background.jpg');
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.1!important;
    filter:alpha(opacity=50);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
}
