
#main_contents {
    position:relative;
    z-index:1;
  }
#main_contents::after {
    background: url('./assets/background.jpg');
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.3!important;
    filter:alpha(opacity=50);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
}
