<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    {% include 'common_link.html' %}
    <style>
        td,
        .btn {
            font-size: small !important;
        }
        .bg-custom2{
        background-color: rgb(230, 230, 230);
    }
    </style>
</head>

<body class="pt-5 mt-3">
        <div class="text-center h2 py-3 mt-4" OnClick="javascript:overflowlist()">
                OVERFLOW
                <!-- {{overflow_data.category}} -->
            </div>
            <div class=" text-center py-4 bg-custom2 rounded">
                OVERFLOW 게시판은 Hantor 회원분들이 자유롭게 <br>질문 & 답변을 나누는 곳입니다.
            </div>
            <hr style=" margin-top: 0; border:0; height: 3px; background: rgba(0, 208, 255, 0.912);">
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="col-12 col-md-10 mx-auto">
            <div class="wrap">
                <div id="fon" class="m-0">
                    <form class="form-row justify-content-between">
                        <p>
                            <div class="col-3">총 게시물수: {{ totalCnt }}</div>

                            {% if filter_params %}
                            {% if filter_params.status %}
                            {% endif %}
                            {% for kk, vv in filter_params.items %}
                            {% if kk == 'search' %}
                            {% else %}
                            <input type="hidden" name="{{ kk }}" value="{{ vv }}">
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <div class="col-8 row justify-content-end">
                                <input type="text" style="font-size: small;" class="form-control col-8 h-100"
                                    name="search">
                                <input type="submit" class="btn border border-1" value="글 찾기">
                            </div>
                        </p>
                    </form>
                </div>

                <table class="table table-sm table-hover" style="table-layout: fixed;" cellspacing=1>
                    <thead>
                        <tr>
                            <td class=" text-center" scope="col" style="width:7%;">
                                번호
                            </td>
                            <td class="text-center" scope="col" style="width: 10%;">
                                이름
                            </td>
                            <td class=" text-center" scope="col"style="width: 40%;">
                                제목
                            </td>
                            <td class="text-center" scope="col"style="width: 11%;">
                                등록일
                            </td>
                            <td class="text-center" scope="col"style="width: 10%;">
                                조회수
                            </td>
                        </tr>
                    </thead>

                    {% if overflow_list %}
                    <ul>
                        {% for overflow_row in overflow_list %}
                            <td class="text-center">
                                {{ overflow_row.id }}
                            </td>
                            <td class="text-center ">
                                {{ overflow_row.name }}
                            </td>
                            <td style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
                                <a href="/overflow_view?overflow_id={{ overflow_row.id }}&{{ request.GET.urlencode }}"> {{ overflow_row.title }}</a>
                            </td>
                            <td style="overflow:hidden; white-space:nowrap;">
                                {{ overflow_row.created_date }}
                            </td>
                            <td class="text-center ">
                                {{ overflow_row.view_count }}
                            </td>
                        </tr>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No Data.</p>
                    {% endif %}
                </table>


                <div class="d-flex justify-content-between row mb-4">
                    <div></div>
                    <div>
                    {% if post_list.has_previous %}
                    <a href="?&search={{ filter_params.search }}&page={{ post_list.previous_page_number }}">이전으로</a>
                    {% endif %}

                    {% for i in p_range %}
                        <a href="?&search={{ filter_params.search }}&page={{ i }}" {%if post_list.number == i %} class="active" {% endif %}>{{ i }}</a>
                    {% endfor %}
                    {% if post_list.has_next %}
                    <a href="?&search={{ filter_params.search }}&page={{ post_list.next_page_number }}">다음으로</a>
                    {% endif %}
                </div>
                    {% if user.is_active %}
                    <div>
                        <input type="button" class="btn border border-1" value="글쓰기"
                            OnClick="window.location='/overflow_write'">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>