<!DOCTYPE html>
<script language="javascript">
    function writeCheck() {
        var form = document.writeform;

        if (!form.title.value) {
            alert("제목을 적어주세요");
            form.title.focus();
            return;
        }
        if (!form.body.value) {
            alert("내용을 적어주세요");
            form.body.focus();
            return;
        }
        form.submit();
    }
</script>
<html lang="en">

<head>
    {% include 'common_link.html' %}
    <style>
        b{
            font-size:small;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: middle;
        }
    </style>
</head>

<body class="pt-5 mt-3">
    {% include 'header.html' %}
    <div class="container">
        <form name="writeform" method="post" action="{% url 'do_overflow' %}"> {% csrf_token %}
            <table class="table">
                <tr>
                    <td><b>작성자</b></td>
                    <td>
                        <div>
                            {{user.username}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><b>제목</b></td>
                    <td colspan="3"><input class="form-control" type="text" name="title" size=50 maxlength=50></td>
                </tr>
                <tr>
                    <td colspan="1"><b>내용</b></td>
                    <td colspan="3"><textarea class="form-control" name="body" cols=50 rows=10></textarea></td>
                </tr>

                <tr>
                    <td colspan="4">
                        <div class="text-center">
                            <input class="btn text-center border border-1" type="button" value="등록"
                                OnClick="javascript:writeCheck();">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{% include 'footer.html' %}

</html>