<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PostModify</title>
  {% include 'common_link.html' %}
</head>
<script language="javascript">
  function writeCheck() {
    var form = document.modifyform;

    if (!form.title.value) {
      alert("제목을 적어주세요");
      form.title.focus();
      return;
    }
    if (!form.body.value) {
      alert("내용을 적어주세요");
      form.body.focus();
      return;
    }
    form.submit();
  }
  function overflowlist() {
    if('{{search}}')
      location.href='/overflows/?search='+'{{search}}';
    else
      location.href='/overflows';
  }
</script>

<body class="pt-5 mt-3">
  {% include 'header.html' %}
  <div class="container">
      <input type="button" class="btn border" value="목록으로 되돌아가기"
             OnClick="javascript:overflowlist()">
    <form name="modifyform" method="post" action="{% url 'update_overflow' %}">{% csrf_token %}
      <table>
        <input type="hidden" name="overflow_id" value="{{ overflow_id }}">
        <input type="hidden" name="page" value="{{ page }} ">
        <input type="hidden" name="search" value="{{ search }} ">

        <tr>
          <td class="btn"><b>제목</b></td>
          <td><input class="form-control" type="text" name="title" value="{{ overflow_data.title }}"></td>
        </tr>
        <tr>
          <td class="btn"><b>내용</b></td>
          <td><textarea class="form-control" name="body" cols=50 rows=10>{{ overflow_data.body }}</textarea></td>
        </tr>
      </table>
      <div class="w-100 row justify-content-center">
        <input type="button" class="btn btn-warning mx-3" value="재등록" OnClick="javascript:writeCheck();">
      </div>
    </form>
  </div>
  {% include 'footer.html' %}
</body>

</html>